.Hello {
  text-align: center;
  height: 700px;
  /* background-color:brown; */
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  color: aquamarine;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}